.leftView {
	padding-top: 50px;
	padding-bottom: 39px;
	background-color: #343a40;
	text-align: center;
	height: 100vh;
}
.border-begining {
	border-top: 1px solid gray;
}
.border-begining :hover,
:focus {
	border-bottom: 1px solid gray;
}

.flex_css_for_navigation {
	display: flex !important;
	  flex-direction: column;
	  align-items: flex-start;
}

.flex-css-nav-link {
	display: flex;
	width: 100%;
	text-align: start;
	justify-content: left;
	align-content: flex-start;
	left: 0px !important;
	border-bottom: 1px solid gray;
}
.flex-css-nav-link:hover {
	color: white !important;
	border: none;
	border-bottom: 1px solid gray;
}
.flex-css-nav-link:focus {
	color: white !important;
	border-bottom: 1px solid gray;
}

.sidebar-profile {
	color: darkgray;
	position: -webkit-sticky; /* for Safari */
	position: sticky;
	top: 0;
	align-self: flex-start; /* <-- this is the fix */
}

.sidebar-profile-navbar-align {
	display: flex !important;
	flex-direction: row !important;
	align-items: flex-start;
	overflow: auto;
}
.sidebar-profile-navbar-align :hover,
:focus {
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
}

.sidebar-profile-navbar-align :active {
	color: white !important;
}

.scroll-bar {
	overflow-y: scroll !important;
}

input[type='text'] :active {
	width: 80%;
	padding: 15px 22px;
	margin: 10px 5px;
	box-sizing: border-box;
	color: red;
}
.to_do_list_box-shadow {
	box-shadow: 5px grey;
	border: none !important;
	outline: none !important;
	cursor: pointer !important;
}
.to_do_list_box-shadow :active {
	transform: translateY(4px);
	border: none !important;
	outline: none !important;
}
.to_do_list_box-shadow :hover {
	background-color: #8ce2f0;
}

.to-do-list-nav-css :hover {
	background-color: khaki !important;
}
.to-do-list-nav-css :active {
	transform: translateY(4px);
	background-color: #8ce2f0 !important;
	color: white !important;
}

.navifitsactive :active {
	color: khaki;
	background-color: white;
}

.navbar-flex-css {
	position: sticky !important;
	top: 0;
}
.navbar-flex-css :focus,
:hover {
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
}

.align-end-css {
	list-style-type: none;
	display: flex !important;
	right: 0% !important;
	position: absolute;
}
.fa fa-user {
	color: red;
}
.col-border {
	border-right: 0.5px solid gray;
	height: fit-content;
}
.sticky-coloumn {
	position: -webkit-sticky !important;
	position: sticky !important;
}
.border-bottom {
	border-bottom: 1px solid black;
}

/**Modal css */
.fade.in {
	opacity: 1;
}
.modal.in .modal-dialog {
	-webkit-transform: translate(0, 0);
	-o-transform: translate(0, 0);
	transform: translate(0, 0);
}
.modal-backdrop.in {
	opacity: 0.5;
}

.font-recovered{
	font-size: 2rem !important;
	color: #ff9800!important;
}
.font-deaths{
	color:rgb(236, 49, 75) !important;
	font-size: 2rem !important;
}
.font-active{
	color: rgb(5, 181, 132);
	font-size: 2rem !important;
}
.home-list{
	width:50%;
}
.home-list :hover{
	background-color: lightcoral;
}
.home-list :active{
	transform:translateY(4px);
}