.leftView{
    padding-top: 50px;
    padding-bottom: 39px;
    background-color: #343a40;
    text-align: center;
    height : 100vh;
}
.flex_css_for_navigation{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items : baseline;
}
.flex_css_for_navigation :hover{
  color: white !important;
  -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

.sidebar-profile{
  color: #007bff;
  position: -webkit-sticky; /* for Safari */
  position: sticky;
  top: 0;
  align-self: flex-start; /* <-- this is the fix */
}
.flex_css_for_navigation :active{
  transform: translateY(4px);
}

.sidebar-profile-navbar-align{
  display: flex !important;
  flex-direction: row !important;
  align-items: flex-start;
  overflow: auto;
}
.sidebar-profile-navbar-align :hover , :focus{
  -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

.scroll-bar{
  overflow-y:scroll !important;
}
input[type=text] :active {
  width: 80%;
  padding: 15px 22px;
  margin: 10px 5px;
  box-sizing: border-box; 
  color: red; 
}
.to_do_list_box-shadow{
  box-shadow: 5px grey;
  border : none !important;
  outline: none !important;
  cursor:  pointer !important;
}
.to_do_list_box-shadow :active{
  transform: translateY(4px);
  border : none !important;
  outline: none !important;
}
.to_do_list_box-shadow :hover{
  background-color:#8ce2f0;
}

.to-do-list-nav-css :hover{
  background-color: khaki !important;
}
.to-do-list-nav-css :active{
  transform: translateY(4px) ;
  background-color: #8ce2f0 !important;
  color: white !important;
}

.navifitsactive :active{
  color: khaki;
  background-color: white;
}

.navbar-flex-css{
  position: sticky !important;
  top: 0;
}
.navbar-flex-css :focus, :hover{
  -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}
.navbar-flex-css :active{
  transform: translateY(4px) !important;
}

.align-end-css{
    list-style-type: none;
    display: flex !important;
    right: 0% !important;
    position: absolute;
}
.fa fa-user{
  color: red;
}
.col-border{
  border-right: 0.5px solid gray;
  height: fit-content;
}
.sticky-coloumn{
  position: -webkit-sticky !important;
  position: sticky !important;
}
.border-bottom{
  border-bottom: 1px solid black;
}
.scroll-auto{
  overflow: auto !important;
  max-height: 500px; 
  overflow: scroll; 
   padding: 0 0 0 0;
}

/* Scrollbar Styling */
::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background-color: #ebebeb;
  -webkit-border-radius: 10px;
  border-radius: 6px;
}

::-webkit-scrollbar-thumb {
  -webkit-border-radius: 6px;
  border-radius: 6px;
  background: #87d4da; 
}